:root {
    font-size: 16px;
    font-family: 'Open Sans';
    
    /* Zmienne odpowiedzialne za kolor tekstu oraz tła  */
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;

    --bg-primary: #232323;
    --bg-secondary: #141418;
    --bg-third: #141418d2;

    --icon-primary: #a020f0;
    --icon-secondary: #e943c5;

    --title-primary: #ffffff;
    --title-secondary: #ed4e00;

    /* Zmienne odpowiedzialne za funkcyjność strony */
    --transition-speed: 600ms;
}

body {
    margin: 0;
    padding: 0;
}

/* Customowy scrollbar */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: var(--icon-primary);
}

/* Kontent strony */
main {
    margin-left: 5rem;
    padding: 1rem;
}

/* Pasek navigacyjny */
.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 300ms ease;
    z-index: 999;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.8);
    transition: var(--transition-speed);
}

.nav-link svg {
    color: var(--icon-secondary);
}

.nav-link:hover {
    filter: opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 20rem;
}

.navbar:hover .link-text {
    display: block;
}

/* LOGO */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    letter-spacing: 0.3ch;
    width: 100%;
}

.fa-primary {
    color: var(--icon-secondary);
}

.fa-secondary {
    color: var(--icon-primary);
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

/* CSS dla tła */
.background {
    overflow: hidden;
    filter: grayscale(10%) opacity(0.8);
}

.background figure {
    margin: 0;
    left: 0;
}

.background figure img {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}
