body {
    background: url(../images/NGE_background_darker.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    width: calc(100% - 5rem);
    margin-left: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 94%;
    height: 70px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 2%;
    border: 3px solid var(--icon-secondary);
    border-radius: 20px;

    background-color: var(--bg-third);
}

.title h2 {
    font-size: 20px;
    font-weight: bold;

    margin-left: 2rem;
    text-transform: uppercase;

    color: var(--icon-primary);
}

.list_of_characters {
    width: calc(100% - 5rem);
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.box div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box img {
    width: 100%;
    height: 100%;
    
    padding: 10px;
    border-radius: 20px;
}