body {
    box-sizing: border-box;

    background-color: var(--bg-primary);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

.image {
    display: flex;
    flex-direction: column;
    
    width: 32.5%;
    height: auto;
}

.image img {
    width: 100%;
    
    padding: 10px;

    border-radius: 20px;
}