:root {
    /* Zmienne przechowujące kolor tła oraz tekstu */
   --primary: #ffffff;
   --secondary: #ed4e00;
}

body {
    background: url(../images/Neon_Genesis_Evangelion.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {
    width: calc(100% - 5rem);
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    margin-left: 3.5%;
}

#container a {
    text-decoration: none;
    color: var(--text-secondary);
}

#container img {
    border-radius: 20px;
}

#container p {
    font-size: 28px;
    font-weight: bold;
    color: var(--secondary);
    text-transform: uppercase;
}

#container span {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);
    text-transform: uppercase;
}

#author_manga {
    padding: 10px 20px 10px 20px;

    background-color: var(--bg-third);
    border-radius: 20px;
}

#author_anime {
    padding: 10px 20px 10px 20px;

    background-color: var(--bg-third);
    border-radius: 20px;
}
