body {
    box-sizing: border-box;
    background-color: var(--bg-primary);
}

main {
    margin-left: 5rem;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    filter: grayscale(10%);
}

article {
    display: flex;
    justify-content: space-around;
}

section {
    width: 32%;
    height: auto;
}

img {
    width: 100%;

    padding: 10px;
    border-radius: 20px;
}
