body {
    background: url(../images/NGE_background_darker.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {
    width: calc(100% - 5rem);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

    margin-left: 5rem;
    margin-right: 0;
}

#container main {
    width: 45%;

    margin-top: 2%;
    margin-left: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#container article, aside{
    color: var(--text-secondary);
}

#container aside {
    width: 30%;

    margin-top: 2%;
    margin-right: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container section {
    background-color: var(--bg-third);
    border-radius: 20px;

    padding: 20px;
    margin-bottom: 2%;
}

#container section img {
    border-radius: 20px;
}

#list {
    list-style: none;
    padding: 0;
}

#container section table {
    width: 100%;

    text-align: left;
}


#container section table td {
    color: var(--text-secondary);
}

.link-block {
    display: block;
    text-decoration: none;
}

.link-block p {
    color: var(--text-secondary);
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin-inline: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titles span {
    color: var(--text-secondary);
    font-weight: normal;
    font-size: 16px;
}

.voice-actors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.audio {
    margin-inline: 3%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.audio span {
    color: var(--text-secondary);
    font-weight: normal;
}