:root {
    --eva_01-color-3: #A3DA58;
    --eva_01-color-1: #615AA8;
    --eva_00-color-3: #b63958;
    --eva_00-color-1: #a5bdd5;
}

body {
    background-color: var(--bg-primary);
}

.container {
    width: calc(723px * 14);
    height: 97vh;
    
    margin-left: 3rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content {
    list-style-type: none;
    height: 100%;

    margin-top: 30px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    overflow: hidden;
} 

.content li {
    border-radius: 20px;
    padding: 10px;

    height: 100%;
}

.card {
    width: 700px;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}

.card:hover {
    transform: rotateY(180deg);
}

.front-side {
    width: 100%;
    height: 100%;

    border-radius: 20px;
    position: absolute;

    backface-visibility: hidden;
}

.back-side {
    width: 100%;
    height: 100%;

    border-radius: 20px;
    position: absolute;

    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-secondary);
    color: var(--text-secondary);

    transform: rotateY(180deg);
}

.text {
    width: 95%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.text h1 {
    color: var(--eva_01-color-1);

    border-bottom: 2px solid var(--eva_01-color-3);
}

.text h2 {
    color: var(--eva_00-color-3);
    border-bottom: 2px solid var(--eva_00-color-1);
}

.chapter {
    color: var(--eva_01-color-3);
    font-size: normal;
}

.content li:nth-child(1) .front-side {
    background-image: url(../images/Manga/Sadamoto_Volume_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.content li:nth-child(2) .front-side {
    background-image: url(../images/Manga/Sadamoto_Volume_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.content li:nth-child(3) .front-side {
    background-image: url(../images/Manga/Sadamoto_Volume_3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.content li:nth-child(4) .front-side {
    background-image: url(../images/Manga/Sadamoto_Volume_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.content li:nth-child(5) .front-side {
    background-image: url(../images/Manga/Sadamoto_Volume_5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.content li:nth-child(6) .front-side {
    background-image: url(../images/Manga/Sadamoto_Volume_6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.content li:nth-child(7) .front-side {
    background-image: url(../images/Manga/Sadamoto_Volume_7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.content li:nth-child(8) .front-side {
    background-image: url(../images/Manga/Sadamoto_Volume_8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.content li:nth-child(9) .front-side {
    background-image: url(../images/Manga/Sadamoto_Volume_9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.content li:nth-child(10) .front-side {
    background-image: url(../images/Manga/Sadamoto_Volume_10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.content li:nth-child(11) .front-side {
    background-image: url(../images/Manga/Sadamoto_Volume_11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.content li:nth-child(12) .front-side {
    background-image: url(../images/Manga/Sadamoto_Volume_12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.content li:nth-child(13) .front-side {
    background-image: url(../images/Manga/Sadamoto_Volume_13.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.content li:nth-child(14) .front-side {
    background-image: url(../images/Manga/Sadamoto_Volume_14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}