:root {
    --eva_01: #4c4e9e;
    --eva_02: #f5444c;
    --eva_03: #242774;
    --eva_04: #d9abdc;
}

.link {
    text-decoration: none;
    color: var(--eva_02);
}

.link:hover {
    color: var(--eva_03);
}

.quote {
    text-decoration: none;

    color: var(--eva_04);
}

.titles {
    color: var(--eva_01);
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 0;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 5%;

    border: 2px solid var(--eva_04);
    border-radius: 20px;
    padding: 10px;
}

.audio h1 {
    color: var(--eva_01);
}
