:root {
    /* Schemat kolorów EVA-unit-01 */
    --eva_00-color-0: #000000;
    --eva_00-color-1: #a5bdd5;
    --eva_00-color-2: #f5bdda;
    --eva_00-color-3: #b63958;
    --eva_00-color-4: #759ab4;
    --eva_00-color-5: #cbd6d7;
}

.link {
    text-decoration: none;
    color: var(--eva_00-color-2);
}

.link:hover {
    color: var(--eva_00-color-5);
}

.quote {
    text-decoration: none;

    color: var(--eva_00-color-4);
}

.titles {
    color: var(--eva_00-color-3);
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 0;
}

.audio h1 {
    color: var(--eva_00-color-3);
}
