:root {
    /* Schemat kolorów EVA-unit-01 */
    --eva_01-color-0: #000000;
    --eva_01-color-1: #615AA8;
    --eva_01-color-2: #592661;
    --eva_01-color-3: #A3DA58;
    --eva_01-color-4: #F7BA2B;
    --eva_01-color-5: #f7ba2bb0;
}

body {
    background: url(../images/NGE_background_darker.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {
    width: calc(100% - 5rem);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

    margin-left: 5rem;
    margin-right: 0;
}

#container main {
    width: 45%;

    margin-top: 2%;
    margin-left: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#container article, aside{
    color: var(--text-secondary);
}

#container aside {
    width: 30%;

    margin-top: 2%;
    margin-right: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container section {
    background-color: var(--bg-third);
    border-radius: 20px;

    padding: 20px;
    margin-bottom: 2%;
}

.link {
    text-decoration: none;
    color: var(--eva_01-color-3);
}

.link:hover {
    color: var(--eva_01-color-2);
}

.quote {
    text-decoration: none;

    color: var(--eva_01-color-4);
}

.titles {
    color: var(--eva_01-color-1);
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 0;
}

.titles span {
    color: var(--text-secondary);
    font-weight: normal;
    font-size: 16px;
}

#container section img {
    border-radius: 20px;
}

#list {
    list-style: none;
    padding: 0;
}

#container section table {
    width: 100%;

    text-align: left;
}

#container section table th {
    color: var(--eva_01-color-4);
}

#container section table td {
    color: var(--text-secondary);
}

.link-block {
    display: block;
    text-decoration: none;
}

.link-block h1 {
    color: var(--eva_01-color-3);
}

.link-block p {
    color: var(--text-secondary);
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 5%;

    border: 2px solid var(--eva_01-color-5);
    border-radius: 20px;
    padding: 10px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin-inline: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.voice-actors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.audio {
    margin-inline: 3%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.audio h1 {
    color: var(--eva_01-color-3);
}

.audio span {
    color: var(--text-secondary);
    font-weight: normal;
}

