
body{
    background: url(../Galeria/Main/KaguyaTło.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    font-family: Arial ;
}

a{
    text-decoration: none;
    color: inherit;
}


p{
    font-size: large;
}

h2{
    border-bottom: 2px solid rgb(58, 58, 58);

}

li{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}

.Tytul{
    width:50%;
    position: absolute;
    top:5%;
    left: 25%;
    right: 25%;
}

.Tytul img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#Glowny{
    background-color: #EBF2F5;
    position: absolute;
    width: 50%;
    top: 20%;
    right: 25%;
    border-radius: 25px;
    padding: 2.5%;
}

.Naglowek{
    width: 95%;
    position: relative;
    left: 2.5%;
    font-size: larger;
}

#Wprowadzenie{
    width: 70%;
    float: left;
}

#info{
    border: 2px solid #075687;
    border-spacing: 0;
    border-radius: 10px;
    width: 25%;
    float: right;
    overflow: hidden;
    text-align: center;
}

#info .Kategoria{
    background-color: #158AD4;
    font-weight: bolder;
}

#info td{
    border: 2px solid #075687;
    overflow: hidden;
    width: 50%;
}


#info th{
    border: 2px solid #075687;
    background-color: #FFC200;
    border-radius: 10px 10px 0 0;
}

#info img{
    max-width: 100%;
}

#info a{
    color: #158AD4;
}

#Spis{
    width: 30%;
    float: left;
    background-image: url(../Galeria/Main/SpisTlo.png);
    border: 3px solid #075687;
    border-radius: 10px;
    padding:  0 2.5% 0 2.5%;
}

#Spis a:hover{
    background-color: #FFE5EA ;
    color: #158AD4;
    padding: 2.5%;
    border-radius: 5px;
}

#Spis h2{
    font-size:large;
}

#Spis ul{
    font-weight: bold;
}
#Spis ul ul{
    margin-left: 10%;
}

#Spis li{
    font-weight: bold;
    padding-bottom: 2.5%;
    list-style-type: none;
}

#Tekst{
    width: 100%;
    float: left;
    font-size: large;
}

#Tekst a{
    color: #158AD4;
}

#Tekst a:hover{
    text-decoration: underline;
    font-style: italic;
}

#Tekst ul{
    margin-left: 5%;
}
#Tekst li{
    margin-bottom: 2%;
}

#TekstKrotki{
    width: 65%;
    float: left;
    font-size: large;
}

#TekstKrotki a{
    color: #158AD4;
}

#TekstKrotki a:hover{
    text-decoration: underline;
    font-style: italic;
}

#TekstKrotki ul{
    margin-left: 5%;
}
#TekstKrotki li{
    margin-bottom: 2%;
}

#Nagrody table{
    width: 95%;
    position: relative;
    left: 2.5%;
    margin-bottom: 5%;
    border-collapse:collapse ;
}

#Nagrody td{
    border: 2px solid rgb(211, 32, 211);
    text-align: center;
}

.Wygrana{
    background-color: #07E681;
}

.Nominacja{
    background-color: lightpink;
}

#dark_mode{
    width: 75px;
    height: 75px;
    position: fixed;
    left: 6%;
    bottom: 2.5%;
    background-color: #232323;
    border-radius: 50%;
    align-items: center;
}

#dark_mode img{
    max-width: 75%;
    position: relative;
    Left:12.5%;
    top: 12.5%;
}

#Up{
    width: 75px;
    height: 75px;
    position: fixed;
    left: 12%;
    bottom: 2.5%;
    background-color: #4D6975;
    border-radius: 50%;
    align-items: center;
}

#Up img{
    max-width: 75%;
    position: relative;
    Left:12.5%;
    top: 12.5%;
}

.Jasny_Tekst{
    color: white;
}

#Jezyk{
    width:20%;
    text-align: center;
    margin-bottom: 2.5%;
}

#Odcinki table{
    width: 75%;
    margin-left: 2.5%;
    border-collapse:collapse ;
    text-align: center;
    border: 5px solid rgb(211, 32, 211);
      
}

#Odcinki td{
    border: 5px dashed rgb(211, 32, 211);
    padding:  1% 2.5%;
    width: 45%;

    
    
}
#Odcinki th{
    border: 5px solid #075687;
    background-color: #FFC200;
}
#Odcinki .numer{
    width: 10%;
}

.Zdj{
    width: 100%;
    position:relative;
    border-radius: 5px;
    overflow: hidden;
}

.Podpis{
    width: 40%;
    position: absolute;
    top: 80%;
    left: 15%;
    background-color: #158AD4;
    font-size: smaller;
    color: white;
    font-weight: bold; 
    border-radius: 5px;
}